
#main {
  padding-left: 20px;
}

.listless__item {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.listless__item.collapsed .listless__body {
  /*background-color: #eef;*/
}

.listless__item.selected > .listless__head .listless__body {
  background-color: #afc;
}

.listless__item.collapsed > .listless__children {
  display: none;
}

.listless__item--parent {
  /*border-left: 1px solid black;*/
}

.listless__collapser {
  position: relative;
  display: none;
  cursor: pointer;
}

.listless__item--parent > .listless__head .listless__collapser {
  display: block;
}

.listless__collapser::before {
  content: "-";
  position: absolute;
  left: 6px;
  top: -1px;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  font-size: 20px;
}

.listless__item.collapsed .listless__collapser::before {
  content: "+";
}

.listless__children {
  padding: 0;
  margin: 0;
}

.listless__body {
  min-height: 20px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}

.listless__body:hover {
  border-radius: 10px;
  background-color: #ccc;
}

.listless__head {
  position: relative;
}

.listless__default-node--done,
.listless__default-node--done input {
  text-decoration: line-through;
  color: #777;
}

.listless__body input {
  border: none;
  margin: 0;
  display: block;
  font-size: 16px;
  padding: 3px 7px;
  font-family: sans-serif;
  background-color: #7d9;
  border-radius: 10px;
}

.listless__input {
  white-space: pre;
}

.listless__input:focus {
  outline: none;
}

.listless__text > p {
  margin: 0;
}

.listless__body input:focus {
  outline: none
}

.listless__body div {
  padding: 3px 7px;
  min-height: 18px;
  font-size: 16px;
  display: block;
  font-family: sans-serif;
}

/** moving **/

.listless__mover {
  position: absolute;
  padding: 3px 5px;
  display: none;
  cursor: move;
  right: 2px;
  top: 0px;
}

.listless__mover::before {
  content: 'M';
  font-weight: bold;
}

.listless__head:hover .listless__mover {
  display: block;
}

.listless__drop-shadow {
  position: fixed;
  background-color: black;
  opacity: .2;
}

.listless__item.dropping,
.listless__item.dropping-child > .listless__head {
  outline: 2px solid #afc;
}

.listless__item.moving {
  background-color: #eee;
  opacity: .5;
}

.listless.moving .listless__head:hover {
  background-color: transparent;
}

.listless.moving .listless__head:hover .listless__mover {
  display: none;
}



