
.listless__item {
  list-style: none
}

.listless__item.collapsed .listless__children {
  display: none;
}

.listless__children {
  padding: 0 0 0 20px;
  margin: 0;
}

.listless__default-node:hover {
  background-color: #eee;
  cursor: pointer;
}

.listless__default-node input {
  border: 1px dotted #ccc;
  width: 100%;
}

