
#main {
  padding-left: 20px;
}

.listless__item {
  list-style: none;
  padding-left: 20px;
}

.listless__item.collapsed .listless__default-node {
  /*background-color: #eef;*/
}

.listless__item.selected > .listless__body {
  background-color: #afc;
}

.listless__item.collapsed .listless__children {
  display: none;
}

.listless__item--parent {
  /*border-left: 1px solid black;*/
}

.listless__collapser {
  position: relative;
  display: none;
  cursor: pointer;
}

.listless__item--parent > .listless__collapser {
  display: block;
}

.listless__collapser::before {
  content: "-";
  position: absolute;
  left: 6px;
  top: -1px;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  font-size: 20px;
}

.listless__item.collapsed .listless__collapser::before {
  content: "+";
}

.listless__children {
  padding: 0;
  margin: 0;
}

.listless__default-node {
  min-height: 20px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
}

.listless__default-node:hover {
  background-color: #eee;
  cursor: pointer;
}

.listless__default-node input {
  border: 1px dotted #ccc;
  padding: 2px 3px;
  margin: 0;
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #7d9;
}

.listless__default-node input:focus {
  outline: none
}

.listless__default-node div {
  padding: 3px 4px;
  font-size: 16px;
  display: block;
  font-family: sans-serif;
}


