
@import "../views/list/index.less";
@import "../views/body/simple.less";
@import "../plugins/done/index.less";
@import "../plugins/collapse/index.less";

@import "../skins/regular/index.less";

h1 {
  font-family: sans-serif;
}

body {
  padding: 10px 100px;
  font-family: sans-serif;
}

