
.textarea-grow {
  position: relative;
}

.textarea-grow textarea {
  width: 100%;
  height: 0; // will be overridden
  border: 0;
  padding: 0;
  resize: none;
  font-size: 1em;
  overflow: hidden;
  font-family: sans-serif;
}

.textarea-grow .shadow {
  white-space: pre-wrap;
  position: absolute;
  font-family: sans-serif;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

