
body {
  text-align: center;
}

h1 {
  font-family: monospace;
  font-size: 60px;
  margin-bottom: 10px;
}

.features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features li {
  padding: 4px 0;
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
}

#bindings td.binding {
  font-family: monospace;
  font-weight: bold;
}

#bindings {
  text-align: left;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 15px;
  margin-bottom: 20px;
}

#bindings th {
  text-align: center;

}
#bindings td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  font-family: "arial";
  font-size: 16px;
}

#example {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

#d3view {
  overflow-x: auto;
}

#editme {
  text-align: left;
  width: 600px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.explanation {
  width: 500px;
  margin: 20px auto;
}

body {
  font-family: sans-serif;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;bind
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#editme {
  float: left;
  height: 800px;
  overflow: auto;
}

#other-demos {
  position: absolute;
  top: 0;
  left: 10px;
}

#other-demos img {
  width: 300px;
  border: 1px solid #ccc;
  margin: 10px 0;
  display: block;
  position: relative;
  left: 0;
  transition: left .2s ease;
}

#other-demos img:hover {
  left: 10px;
}

@media (max-width: 600px) {
  #other-demos {
    position: static;
  }
}


