
.header {
  background-color: white;
  display: flex;
}

.header_title {
  font-size: 19px;
  font-family: sans-serif;
  color: #888;
  font-weight: normal;
  margin: 0;
  padding: 2px 5px;
}

.header_spacer {
  flex: 1;
}

.header_links {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  padding: 0;

  li {
    display: inline-block;
  }
}

.header_link {
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #eee;
    color: black;
  }
}

