
.whiteboard {
  position: relative;
  flex: 1;
  cursor: pointer;
  overflow: hidden;

  &:empty:after {
    content: 'Double click to create a new node';
  }
}

.whiteboard-container {
  position: absolute;
  top: 0;
  left: 0;
}

.whiteboard-item {
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  font-family: sans-serif;
  position: absolute;
  background-color: white;
  width: 300px;

  display: flex;
  flex-direction: column;
}

.whiteboard-item--editing {
  box-shadow: 0 0 5px green;
}

.whiteboard-item_input {
  white-space: pre-wrap;
  // min-height: 20px;

  &:focus {
    outline: none;
  }
}

.whiteboard-item_title {
  font-size: 16px;
  min-height: 18px;
}

.whiteboard-item_input,
.whiteboard-item_title {
  padding: 10px 10px;
  font-size: 14px;
  cursor: pointer;

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.whiteboard-item_body {
  flex: 1;
}

.whiteboard-item_footer {
  .zoom {
    cursor: pointer;
  }
}
