
@import "../../views/list/index.less";
@import "../../views/body/simple.less";
@import "../../plugins/done/index.less";
@import "../../plugins/collapse/index.less";

@import "../../skins/regular/index.less";

h1 {
  font-family: sans-serif;
}

body {
  padding: 10px 100px;
  font-family: sans-serif;
}

// mindmap stuff

.Mindmap {
  width: 800px;
  height: 800px;
  margin: 30px auto;
  box-shadow: 0 0 10px black inset;
  position: relative;
}

.MindmapNode {
  position: absolute;
  box-shadow: 0 0 10px black;

  &_children {
    // position: relative;
  }
}

