
.treed_tags {
  position: absolute;
  right: 5px;
  top: 3px;
  opacity: .5;
  &:hover {
    opacity: 1;
  }
}

.treed_tags_list {
  display: inline-block;
}

.treed_tags_handle {
  opacity: 0;
  display: inline-block;
  cursor: pointer;
  transition: opacity .2s ease;
  top: 2px;
  position: absolute;
  left: 100%;

  .treed__head:hover & {
    opacity: 1;
  }
}

.treed_tag {
  display: inline-block;
  margin-left: 3px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 80%;
  padding: 2px 5px;

  &:hover {
  }
}

.treed_tags_input {
  position: absolute;
  left: 100%;
  top: 0;
}

.treed_tags_results {
  position: absolute;
  left: 100%;
  top: 100%;
}

